::-webkit-scrollbar 
{
    width: 0 !important; 
    height: 0 !important
}
button:hover:not(:active) {
    background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
  }
  
  button:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
     0 0 1px rgba(0,0,0,.5) inset,
     0 2px 3px rgba(0,0,0,.5) inset,
     0 1px 1px rgba(255,255,255,.1);
  }